<img [src]="userImage" alt="image">
<h2>{{name}} - {{age}}</h2>
<input (input)="handleNameChange($event)" placeholder="Name">
<input type="number" (input)="handleAgeChange($event)" placeholder="Age">
<button class="btn btn-waves" (click)="handleClick(userImage)">Click</button>
